<div id="dashboard">
  {% include "components/flash.html.twig" %}

  <div id="widgets" hx-get="/admin/dashboard/widgets" hx-trigger="load">
  </div>

  <div id="charts">
    <div class="row">
      <div class="col-12 mb-4" hx-get="/admin/dashboard/requests/chart/today" hx-trigger="load">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 mb-4" hx-get="/admin/dashboard/requests/chart/week" hx-trigger="load">
      </div>
      <div class="col-12 col-lg-6 mb-4" hx-get="/admin/dashboard/requests/chart/month" hx-trigger="load">
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-4" hx-get="/admin/dashboard/requests/chart/ytd" hx-trigger="load">
      </div>
    </div>
  </div>
</div>
