<!DOCTYPE html>
<html>
<head>
    <title>Benchmark - Template Test</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <ul>
    {% for item in items %}
        <li>Item {{ item }}</li>
    {% endfor %}
    </ul>
</body>
</html>
