{% extends "layout/base.html.twig" %}

{% block title %}403 Forbidden{% endblock %}

{% block content %}
    <style>
        .error-template {
            padding: 40px 15px;
            text-align: center;
        }
        .error-actions {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .error-actions .btn {
            margin-right: 10px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        403 Forbidden</h2>
                    <div class="error-details">
                        Sorry, you don’t have permission to view this.
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg"><span class="bi bi-house"></span>
                            Take Me Home </a>
                        <button class="btn btn-secondary btn-lg" onClick="history.back()"><span class="bi bi-arrow-left"></span> Go Back </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}