{% extends "layout/base.html.twig" %}

{% block head_js %}
  <script src="/js/admin.js"></script>
  <script src="/js/chart.js"></script>
  <script src="/js/jsvectormap.min.js"></script>
  <script src="/js/jsvectormap-world.js"></script>
{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="/css/bootstrap-icons/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/css/flag-icons/flag-icons.min.css">
  <link href="/css/admin.css?d=2026-02-22" rel="stylesheet">
  {% if dark_mode is defined and dark_mode %}
  <link id="dark-theme-css" href="/css/admin-dark.css" rel="stylesheet">
  {% endif %}
  <link href="/css/jsvectormap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <section id="admin" class="d-flex" hx-indicator=".hx-indicator">
    <nav id="nav-sidebar" class="text-light {% if sidebar.hide %}hide{% endif %}" hx-get="{{ uri('admin.sidebar.load') }}" hx-trigger="load" hx-swap="outerHTML">
      <header class="d-flex justify-content-center align-items-center p-2">
        <h4 class="m-0"><i class="bi bi-shield-check pe-1"></i> <span class="desc">Admin</span></h4>
      </header>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="spinner-grow" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </nav>
    <section id="view" class="d-flex flex-column flex-grow-1">
      {% include "admin/nav-top.html.twig" %}
      <section id="module" class="flex-grow-1 p-3">
        {% block module %}{% endblock %}
      </section>
    </section>

  </section>
{% endblock %}
